name: Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  semantic-release:
    name: Run Semantic Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: ./.github/actions/set-up-node
    - run: npm ci
    - run: npm run build
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90 # v6.0.0
      with:
        semantic_version: 19.0.5
        extra_plugins: |
          @semantic-release/changelog@6.0.2
          @semantic-release/exec@6.0.3
          @semantic-release/git@10.0.1
          conventional-changelog-conventionalcommits@5.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
        GH_USERNAME: lime-opensource
        GH_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        CI: true
